.dashboard-link {
    padding:11px;
    font-size: 1.33rem;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #9D8DF1;
    color: #07393C;
    transition:0.5s;
    text-decoration: none;
}
.dashboard-link:hover {
    background-color: #E2C044;
}