.login {
    width: 550px;
    margin: 2rem auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    padding: 2.50em 1.70em;

}
.login-text {
    font-size: 3rem;
    color: #07393C;
}
.loginBtn {
    padding:11px;
    font-size: 1.33rem;
    width: 150px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #9D8DF1;
    color: #07393C;
    transition:0.5s;
}
.loginBtn:hover {
    transform: scaleX(1.3);
}